<footer>
    <h1>Lorem Ipsum FOOTER</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste magni reprehenderit, expedita id sit quo modi hic veniam error, harum quia, recusandae rerum. In repellendus veniam enim unde. Distinctio, quaerat? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem modi adipisci, id minima facere atque distinctio voluptate, consequuntur cupiditate, quasi quia maiores exercitationem labore illum suscipit earum harum voluptas unde.</p>
</footer>
