<h1 id="titulo_encabezado">NODE PROJECT</h1>
<nav id="nav_a">
    <nav><a class="a_encabezado" href="/">Inicio</a></nav>
    <nav><a class="a_encabezado" href="/contact">Contact</a></nav>
    <nav><a class="a_encabezado" href="/about">About</a></nav>
</nav>



