<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("partials/head.ejs") %>
    <title>Document</title>
</head>
<body>
    <header>
        <%- include("partials/navigation.ejs") %> 
    </header>
    <main>
        <h1><%= title %> </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima voluptates saepe suscipit soluta. Ipsam temporibus cumque quod itaque? Ea et nesciunt veritatis obcaecati at molestiae vero quo consequatur harum velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore doloremque aliquam vero harum in minus veniam eum mollitia repudiandae provident et, illo non, fuga exercitationem eos officiis. Quo, neque dolore?</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque placeat molestias laboriosam omnis, laborum accusantium perspiciatis corporis, in ipsum voluptate accusamus minus modi, officia aperiam dolorem! Harum nemo et temporibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eos quibusdam commodi, iusto, voluptatem aut ullam suscipit dolore delectus sit praesentium vero, esse sapiente ab dignissimos dolorem laboriosam repudiandae numquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nisi ut optio expedita voluptatum incidunt alias sunt quod, illum itaque numquam exercitationem veritatis, enim in dolore aliquid porro amet eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis hic excepturi, ratione et omnis minus libero veniam voluptatibus nemo earum ipsum fugiat molestias dolorum accusantium voluptate. Architecto eos id ipsam.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eos quibusdam commodi, iusto, voluptatem aut ullam suscipit dolore delectus sit praesentium vero, esse sapiente ab dignissimos dolorem laboriosam repudiandae numquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nisi ut optio expedita voluptatum incidunt alias sunt quod, illum itaque numquam exercitationem veritatis, enim in dolore aliquid porro amet eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis hic excepturi, ratione et omnis minus libero veniam voluptatibus nemo earum ipsum fugiat molestias dolorum accusantium voluptate. Architecto eos id ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eos quibusdam commodi, iusto, voluptatem aut ullam suscipit dolore delectus sit praesentium vero, esse sapiente ab dignissimos dolorem laboriosam repudiandae numquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nisi ut optio expedita voluptatum incidunt alias sunt quod, illum itaque numquam exercitationem veritatis, enim in dolore aliquid porro amet eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis hic excepturi, ratione et omnis minus libero veniam voluptatibus nemo earum ipsum fugiat molestias dolorum accusantium voluptate. Architecto eos id ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eos quibusdam commodi, iusto, voluptatem aut ullam suscipit dolore delectus sit praesentium vero, esse sapiente ab dignissimos dolorem laboriosam repudiandae numquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nisi ut optio expedita voluptatum incidunt alias sunt quod, illum itaque numquam exercitationem veritatis, enim in dolore aliquid porro amet eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis hic excepturi, ratione et omnis minus libero veniam voluptatibus nemo earum ipsum fugiat molestias dolorum accusantium voluptate. Architecto eos id ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eos quibusdam commodi, iusto, voluptatem aut ullam suscipit dolore delectus sit praesentium vero, esse sapiente ab dignissimos dolorem laboriosam repudiandae numquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nisi ut optio expedita voluptatum incidunt alias sunt quod, illum itaque numquam exercitationem veritatis, enim in dolore aliquid porro amet eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis hic excepturi, ratione et omnis minus libero veniam voluptatibus nemo earum ipsum fugiat molestias dolorum accusantium voluptate. Architecto eos id ipsam.</p>
    </main>
    <%- include("partials/footer.ejs") %>
</body>
</html>